/* Google font */
html, body{
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: antiquewhite;
}

.row{
    margin: 6px 0;
}

.row input{
    margin: 0;
    padding: 14px 30px;
    border: 2px solid black;
    border-radius: 9px;
}